In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/tripadvisor-european-restaurants/tripadvisor_european_restaurants.csv

In [2]:
import pandas as pd
import numpy as np
import networkx as nx
import ast
# import networkx as nx

In [3]:
resturant_file="/kaggle/input/tripadvisor-european-restaurants/tripadvisor_european_restaurants.csv"
df=pd.read_csv(resturant_file, low_memory=False)
df.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
0,g10001637-d10002227,Le 147,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"10 Maison Neuve, 87510 Saint-Jouvent France",45.961674,1.169131,...,2.0,0.0,0.0,0.0,0.0,4.0,4.5,4.0,NaN,NaN
1,g10001637-d14975787,Le Saint Jouvent,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",45.957040,1.205480,...,2.0,2.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,g10002858-d4586832,Au Bout du Pont,"[""Europe"", ""France"", ""Centre-Val de Loire"", ""B...",France,Centre-Val de Loire,Berry,Rivarennes,"2 rue des Dames, 36800 Rivarennes France",46.635895,1.386133,...,3.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,g10002986-d3510044,Le Relais de Naiade,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Co...",France,Nouvelle-Aquitaine,Correze,Lacelle,"9 avenue Porte de la Correze 19170, 19170 Lace...",45.642610,1.824460,...,1.0,0.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN
4,g10022428-d9767191,Relais Du MontSeigne,"[""Europe"", ""France"", ""Occitanie"", ""Aveyron"", ""...",France,Occitanie,Aveyron,Saint-Laurent-de-Levezou,"route du Montseigne, 12620 Saint-Laurent-de-Le...",44.208860,2.960470,...,4.0,7.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN

In [4]:


# # Print columns
# print("Columns in dataset:", resturant_data.columns)

# # Calculate NaN percentage before imputation
# nan_percent_before = resturant_data.isna().mean() * 100
# # print(f"before data {nan_percent_before.sort_values(ascending=False)}")

# # Fill NaN values
# resturant_data['cuisines'] = resturant_data['cuisines'].fillna('[]')
# resturant_data['special_diets'] = resturant_data['special_diets'].fillna('[]')
# resturant_data['features'] = resturant_data['features'].fillna('[]')
# resturant_data['keywords'] = resturant_data['keywords'].fillna('')
# resturant_data['vegetarian_friendly'] = resturant_data['vegetarian_friendly'].fillna('No')
# resturant_data['vegan_options'] = resturant_data['vegan_options'].fillna('No')
# resturant_data['gluten_free'] = resturant_data['gluten_free'].fillna('No')
# resturant_data['avg_rating'] = resturant_data['avg_rating'].fillna(0)
# resturant_data['total_reviews_count'] = resturant_data['total_reviews_count'].fillna(0)
# resturant_data['city'] = resturant_data['city'].fillna('Unknown')
# resturant_data['country'] = resturant_data['country'].fillna('Unknown')

# # Parse list-like columns (convert string '[]' to actual lists)
# def parse_list(x):
#     if isinstance(x, str) and x.startswith('['):
#         return ast.literal_eval(x)
#     return x if isinstance(x, list) else []
    
# resturant_data['cuisines'] = resturant_data['cuisines'].apply(parse_list)
# resturant_data['special_diets'] = resturant_data['special_diets'].apply(parse_list)
# resturant_data['features'] = resturant_data['features'].apply(parse_list)

# # Calculate NaN percentage after imputation
# nan_percent_after = resturant_data.isna().mean() * 100
# # print(f"before data {nan_percent_after.sort_values(ascending=False)}")

# # Print before and after NaN percentages
# print("\nNaN Percentage Comparison:")
# print(f"{'Column':<30} {'Before (%)':>22} {'After (%)':>22}")
# print("-" * 55)
# for col in resturant_data.columns:
#     print(f"{col:<30} {nan_percent_before[col]:>12.2f} {nan_percent_after[col]:>12.2f}")

In [5]:
# Analyze each column
for col in df.columns:
    print(f"Column: {col}")
    print(f"Data Type: {df[col].dtype}")

    # Check for unique values
    unique_values = df[col].unique()
    if len(unique_values) <= 10:
        print(f"Unique Values: {unique_values}")
    else:
        print(f"First 10 Unique Values: {unique_values[:10]}")

    # Check for list-like structures
    sample_value = df[col].dropna().iloc[0] if not df[col].isnull().all() else None
    if isinstance(sample_value, str) and "," in sample_value:
        print("This column contains list-like structures (comma-separated values).")

    # Check for missing values
    missing_count = df[col].isnull().sum()
    print(f"Missing Values: {missing_count} ({missing_count / len(df) * 100:.2f}%)")
    
    print("-" * 50)

Column: restaurant_link
Data Type: object
First 10 Unique Values: ['g10001637-d10002227' 'g10001637-d14975787' 'g10002858-d4586832'
 'g10002986-d3510044' 'g10022428-d9767191' 'g10029260-d6605477'
 'g10029907-d17781655' 'g10029907-d8079764' 'g10036850-d8414223'
 'g10054961-d3387712']
Missing Values: 0 (0.00%)
--------------------------------------------------
Column: restaurant_name
Data Type: object
First 10 Unique Values: ['Le 147' 'Le Saint Jouvent' 'Au Bout du Pont' 'Le Relais de Naiade'
 'Relais Du MontSeigne' "L'Auberge Du Vieux Crozet"
 'Cafe Restaurant NouLou' "L'entre 2" 'Noste Courtiu' 'Chez Claudine']
Missing Values: 1 (0.00%)
--------------------------------------------------
Column: original_location
Data Type: object
First 10 Unique Values: ['["Europe", "France", "Nouvelle-Aquitaine", "Haute-Vienne", "Saint-Jouvent"]'
 '["Europe", "France", "Centre-Val de Loire", "Berry", "Indre", "Rivarennes"]'
 '["Europe", "France", "Nouvelle-Aquitaine", "Correze", "Lacelle"]'
 '["Europe", "France", "Occitanie", "Aveyron", "Saint-Laurent-de-Levezou"]'
 '["Europe", "France", "Auvergne-Rhone-Alpes", "Loire", "Roanne", "Le Crozet"]'
 '["Europe", "France", "Occitanie", "Aude", "Saint-Denis"]'
 '["Europe", "France", "Occitanie", "Ariege", "Orgibet"]'
 '["Europe", "France", "Grand Est", "Vosges", "They-sous-Montfort"]'
 '["Europe", "France", "Auvergne-Rhone-Alpes", "Ain", "Journans"]'
 '["Europe", "France", "Provence-Alpes-Cote d\'Azur", "Var", "Rocbaron"]']
This column contains list-like structures (comma-separated values).
Missing Values: 0 (0.00%)
--------------------------------------------------
Column: country
Data Type: object
First 10 Unique Values: ['France' 'The Netherlands' 'Germany' 'Austria' 'Spain' 'England'
 'Northern Ireland' 'Scotland' 'Wales' 'Italy']
Missing Values: 0 (0.00%)
--------------------------------------------------
Column: region
Data Type: object
First 10 Unique Values: ['Nouvelle-Aquitaine' 'Centre-Val de Loire' 'Occitanie'
 'Auvergne-Rhone-Alpes' 'Grand Est' "Provence-Alpes-Cote d'Azur"
 'Normandy' 'Hauts-de-France' 'Pays de la Loire' 'Brittany']
Missing Values: 50323 (4.64%)
--------------------------------------------------
Column: province
Data Type: object
First 10 Unique Values: ['Haute-Vienne' 'Berry' 'Correze' 'Aveyron' 'Loire' 'Aude' 'Ariege'
 'Vosges' 'Ain' 'Var']
Missing Values: 340632 (31.44%)
--------------------------------------------------
Column: city
Data Type: object
First 10 Unique Values: ['Saint-Jouvent' 'Rivarennes' 'Lacelle' 'Saint-Laurent-de-Levezou'
 'Le Crozet' 'Saint-Denis' 'Orgibet' 'They-sous-Montfort' 'Journans'
 'Rocbaron']
Missing Values: 400685 (36.98%)
--------------------------------------------------
Column: address
Data Type: object
First 10 Unique Values: ['10 Maison Neuve, 87510 Saint-Jouvent France'
 '16 Place de l Eglise, 87510 Saint-Jouvent France'
 '2 rue des Dames, 36800 Rivarennes France'
 '9 avenue Porte de la Correze 19170, 19170 Lacelle France'
 'route du Montseigne, 12620 Saint-Laurent-de-Levezou France'
 '59 place du Puits ancienne adresse le Bourg renommée 59 place du Puits, 42310 Le Crozet, Roanne France'
 "Place de l'Église, 30500 Saint-Denis France"
 '4 route de Saissac, 11310 Saint-Denis France'
 'route des Pyrenees, 09800 Orgibet France'
 '136 rue de la Petite They, 88800 They-sous-Montfort France']
This column contains list-like structures (comma-separated values).
Missing Values: 0 (0.00%)
--------------------------------------------------
Column: latitude
Data Type: float64
First 10 Unique Values: [45.961674 45.95704  46.635895 45.64261  44.20886  46.169823 44.233078
 43.360023 42.934    48.231495]
Missing Values: 15790 (1.46%)
--------------------------------------------------
Column: longitude
Data Type: float64
First 10 Unique Values: [1.169131 1.20548  1.386133 1.82446  2.96047  3.855819 4.251449 2.219851
 0.936559 5.973734]
Missing Values: 15790 (1.46%)
--------------------------------------------------
Column: claimed
Data Type: object
Unique Values: ['Claimed' 'Unclaimed' nan]
Missing Values: 1842 (0.17%)
--------------------------------------------------
Column: awards
Data Type: object
First 10 Unique Values: [nan "Travellers' Choice, Certificate of Excellence 2020"
 "Travellers' Choice, Certificate of Excellence 2020, Certificate of Excellence 2019, Certificate of Excellence 2018, Certificate of Excellence 2017"
 "Travellers' Choice, Certificate of Excellence 2020, Certificate of Excellence 2019, Certificate of Excellence 2018, Certificate of Excellence 2017, Certificate of Excellence 2016, Certificate of Excellence 2015"
 'Certificate of Excellence 2018, Certificate of Excellence 2017'
 "Travellers' Choice, Certificate of Excellence 2020, Certificate of Excellence 2019, Certificate of Excellence 2017, Certificate of Excellence 2016"
 'Certificate of Excellence 2016'
 "Travellers' Choice, Certificate of Excellence 2020, Certificate of Excellence 2018, Certificate of Excellence 2016, Certificate of Excellence 2015, Certificate of Excellence 2014"
 'Certificate of Excellence 2017, Certificate of Excellence 2016, Certificate of Excellence 2015'
 "Travellers' Choice, Certificate of Excellence 2020, Certificate of Excellence 2019, Certificate of Excellence 2018"]
This column contains list-like structures (comma-separated values).
Missing Values: 820264 (75.71%)
--------------------------------------------------
Column: popularity_detailed
Data Type: object
First 10 Unique Values: ['#1 of 2 Restaurants in Saint-Jouvent'
 '#2 of 2 Restaurants in Saint-Jouvent' '#1 of 1 Restaurant in Rivarennes'
 '#1 of 1 Restaurant in Lacelle'
 '#1 of 1 Restaurant in Saint-Laurent-de-Levezou'
 '#1 of 1 Restaurant in Le Crozet' '#2 of 2 Restaurants in Saint-Denis'
 '#1 of 2 Restaurants in Saint-Denis' '#1 of 1 Restaurant in Orgibet'
 '#1 of 1 Restaurant in They-sous-Montfort']
Missing Values: 94988 (8.77%)
--------------------------------------------------
Column: popularity_generic
Data Type: object
First 10 Unique Values: ['#1 of 2 places to eat in Saint-Jouvent'
 '#2 of 2 places to eat in Saint-Jouvent'
 '#1 of 1 places to eat in Rivarennes' '#1 of 1 places to eat in Lacelle'
 '#1 of 1 places to eat in Saint-Laurent-de-Levezou'
 '#1 of 1 places to eat in Le Crozet'
 '#2 of 2 places to eat in Saint-Denis'
 '#1 of 2 places to eat in Saint-Denis' '#1 of 1 places to eat in Orgibet'
 '#1 of 1 places to eat in They-sous-Montfort']
Missing Values: 97792 (9.03%)
--------------------------------------------------
Column: top_tags
Data Type: object
First 10 Unique Values: ['Cheap Eats, French' 'Cheap Eats' 'Cheap Eats, French, European'
 'Mid-range, French' 'Mid-range, French, European'
 'Mid-range, French, European, Vegetarian Friendly'
 'Mid-range, French, Cafe, Deli' 'Mid-range, French, European, Wine Bar'
 'Cheap Eats, French, Fast food' 'Chinese, Japanese']
This column contains list-like structures (comma-separated values).
Missing Values: 110634 (10.21%)
--------------------------------------------------
Column: price_level
Data Type: object
Unique Values: ['€' '€€-€€€' nan '€€€€']
Missing Values: 277205 (25.59%)
--------------------------------------------------
Column: price_range
Data Type: object
First 10 Unique Values: [nan '€14-€29' '€8-€17' '€10-€35' '€12-€26' '€12-€30' '€10-€50' '€10-€30'
 '€7-€14' '€11-€23']
Missing Values: 779070 (71.91%)
--------------------------------------------------
Column: meals
Data Type: object
First 10 Unique Values: ['Lunch, Dinner' nan 'Dinner, Lunch, Drinks' 'Lunch, Dinner, Drinks'
 'After-hours, Drinks, Lunch, Dinner, Brunch' 'Dinner'
 'Lunch, Dinner, After-hours' 'Breakfast, Lunch, Dinner, Drinks' 'Lunch'
 'Lunch, Drinks, Dinner']
This column contains list-like structures (comma-separated values).
Missing Values: 448050 (41.36%)
--------------------------------------------------
Column: cuisines
Data Type: object
First 10 Unique Values: ['French' nan 'French, European'
 'French, Cafe, Deli, Contemporary, Gastropub'
 'French, European, Wine Bar' 'French, Fast food' 'Chinese, Japanese'
 'French, American, German' 'French, International' 'Pizza']
Missing Values: 169103 (15.61%)
--------------------------------------------------
Column: special_diets
Data Type: object
First 10 Unique Values: [nan 'Vegetarian Friendly' 'Vegetarian Friendly, Vegan Options'
 'Gluten Free Options' 'Vegetarian Friendly, Halal'
 'Vegetarian Friendly, Vegan Options, Gluten Free Options' 'Halal'
 'Gluten Free Options, Vegetarian Friendly, Vegan Options'
 'Vegetarian Friendly, Gluten Free Options' 'Vegan Options']
Missing Values: 743141 (68.59%)
--------------------------------------------------
Column: features
Data Type: object
First 10 Unique Values: ['Reservations, Seating, Wheelchair Accessible, Serves Alcohol, Accepts Credit Cards, Table Service'
 nan 'Reservations, Seating, Table Service, Wheelchair Accessible'
 'Reservations, Seating, Serves Alcohol, Table Service, Wheelchair Accessible'
 'Reservations, Seating, Wheelchair Accessible, Table Service'
 'Reservations, Seating, Table Service, Serves Alcohol'
 'Takeout, Wheelchair Accessible'
 'Takeout, Reservations, Wheelchair Accessible, Table Service'
 'Takeout, Reservations, Seating, Wheelchair Accessible, Serves Alcohol, Table Service, Outdoor Seating'
 'Takeout, Reservations, Outdoor Seating, Seating, Serves Alcohol, Table Service, Wheelchair Accessible']
This column contains list-like structures (comma-separated values).
Missing Values: 765990 (70.70%)
--------------------------------------------------
Column: vegetarian_friendly
Data Type: object
Unique Values: ['N' 'Y']
Missing Values: 0 (0.00%)
--------------------------------------------------
Column: vegan_options
Data Type: object
Unique Values: ['N' 'Y']
Missing Values: 0 (0.00%)
--------------------------------------------------
Column: gluten_free
Data Type: object
Unique Values: ['N' 'Y']
Missing Values: 0 (0.00%)
--------------------------------------------------
Column: original_open_hours
Data Type: object
First 10 Unique Values: [nan
 '{"Mon": ["09:00-14:30"], "Tue": ["09:00-14:30", "19:00-21:30"], "Wed": ["09:00-14:30", "19:00-21:30"], "Thu": ["09:00-14:30", "19:00-21:30"], "Fri": ["09:00-14:30", "19:00-22:00"], "Sat": ["09:00-14:30", "19:00-22:00"], "Sun": ["09:00-16:00"]}'
 '{"Mon": [], "Tue": [], "Wed": ["12:00-14:30", "18:30-22:00"], "Thu": ["12:00-14:30", "18:30-22:00"], "Fri": ["12:00-14:30", "18:30-22:00"], "Sat": ["12:00-14:30", "18:30-22:00"], "Sun": ["12:00-14:30", "18:30-22:00"]}'
 '{"Mon": [], "Tue": ["10:00-14:00"], "Wed": ["10:00-14:00"], "Thu": ["10:00-14:00"], "Fri": ["10:00-14:00"], "Sat": ["10:00-14:00"], "Sun": ["10:00-14:00"]}'
 '{"Mon": [], "Tue": [], "Wed": ["12:00-14:00"], "Thu": ["12:00-14:00"], "Fri": ["12:00-14:00", "19:00-21:00"], "Sat": ["19:00-21:00"], "Sun": ["12:00-14:00", "19:00-21:00"]}'
 '{"Mon": [], "Tue": ["09:00-16:00"], "Wed": ["09:00-16:00"], "Thu": ["09:00-21:00"], "Fri": ["09:00-21:00"], "Sat": ["16:45-23:45"], "Sun": ["09:00-17:00"]}'
 '{"Mon": [], "Tue": ["11:00-13:30", "18:00-21:30"], "Wed": ["11:00-13:30", "18:00-21:30"], "Thu": ["11:00-13:30", "18:00-21:30"], "Fri": ["11:00-13:30", "18:00-21:30"], "Sat": ["11:00-13:30", "18:00-21:30"], "Sun": ["18:00-21:30"]}'
 '{"Mon": [], "Tue": ["11:30-14:30"], "Wed": ["11:30-14:30"], "Thu": ["11:30-14:30"], "Fri": ["11:30-13:30", "19:00-21:30"], "Sat": ["11:30-13:30", "19:00-21:30"], "Sun": ["11:30-14:00"]}'
 '{"Mon": ["07:00-20:00"], "Tue": ["07:00-20:00"], "Wed": ["07:00-20:00"], "Thu": ["07:00-20:00"], "Fri": ["07:00-23:00"], "Sat": ["07:00-23:00"], "Sun": ["07:00-17:00"]}'
 '{"Mon": ["11:45-14:15"], "Tue": ["11:45-14:15"], "Wed": ["11:45-14:15"], "Thu": ["11:45-14:15"], "Fri": ["11:45-14:15", "19:00-21:30"], "Sat": ["11:45-14:30", "19:00-21:30"], "Sun": []}']
This column contains list-like structures (comma-separated values).
Missing Values: 489565 (45.19%)
--------------------------------------------------
Column: open_days_per_week
Data Type: float64
Unique Values: [nan  7.  5.  6.  1.  4.  2.  3.]
Missing Values: 489565 (45.19%)
--------------------------------------------------
Column: open_hours_per_week
Data Type: float64
First 10 Unique Values: [  nan 53.5  30.   24.   14.   53.   33.5  20.5  94.   20.25]
Missing Values: 489565 (45.19%)
--------------------------------------------------
Column: working_shifts_per_week
Data Type: float64
First 10 Unique Values: [nan 12. 10.  6.  7. 11.  8. 14. 13.  9.]
Missing Values: 489565 (45.19%)
--------------------------------------------------
Column: avg_rating
Data Type: float64
Unique Values: [4.  5.  4.5 3.5 nan 3.  2.  1.  2.5 1.5]
Missing Values: 96636 (8.92%)
--------------------------------------------------
Column: total_reviews_count
Data Type: float64
First 10 Unique Values: [ 36.   5.  13.  34.  11.  64.  24. 133.  39. 244.]
Missing Values: 52235 (4.82%)
--------------------------------------------------
Column: default_language
Data Type: object
Unique Values: ['English' 'All languages' nan]
Missing Values: 95193 (8.79%)
--------------------------------------------------
Column: reviews_count_in_default_language
Data Type: float64
First 10 Unique Values: [ 2.  5.  4.  1. 11. 64. 13. 36. 37. 25.]
Missing Values: 95193 (8.79%)
--------------------------------------------------
Column: excellent
Data Type: float64
First 10 Unique Values: [ 2.  3.  1.  4. 44.  9. 18. 19. nan 36.]
Missing Values: 95193 (8.79%)
--------------------------------------------------
Column: very_good
Data Type: float64
First 10 Unique Values: [ 0.  2.  1.  7. 15.  3. 12. 11.  4. nan]
Missing Values: 95193 (8.79%)
--------------------------------------------------
Column: average
Data Type: float64
First 10 Unique Values: [ 0.  1.  2.  3.  5. nan 10.  6. 18. 11.]
Missing Values: 95193 (8.79%)
--------------------------------------------------
Column: poor
Data Type: float64
First 10 Unique Values: [ 0.  2.  1. nan  4.  3. 10.  6.  9. 12.]
Missing Values: 95193 (8.79%)
--------------------------------------------------
Column: terrible
Data Type: float64
First 10 Unique Values: [ 0.  1.  2. nan  3.  4.  5. 12.  6. 17.]
Missing Values: 95193 (8.79%)
--------------------------------------------------
Column: food
Data Type: float64
Unique Values: [4.  nan 4.5 5.  3.5 3.  2.5 2.  1.5 1. ]
Missing Values: 484072 (44.68%)
--------------------------------------------------
Column: service
Data Type: float64
Unique Values: [4.5 nan 3.5 4.  5.  3.  2.5 2.  1.5 1. ]
Missing Values: 479110 (44.22%)
--------------------------------------------------
Column: value
Data Type: float64
Unique Values: [4.  nan 4.5 3.5 5.  3.  2.  2.5 1.5 1. ]
Missing Values: 480705 (44.37%)
--------------------------------------------------
Column: atmosphere
Data Type: float64
Unique Values: [nan 4.5 4.  3.5 5.  3.  2.5 2.  1.  1.5]
Missing Values: 821612 (75.84%)
--------------------------------------------------
Column: keywords
Data Type: object
First 10 Unique Values: [nan 'pizza, tartiflette, fondue, service was excellent, chef'
 'tuna, fish, tapas, vineyard, region'
 'visited cafe, food was fantastic, both occasions, mascarpone, courses'
 'pates, apple tart, main course, wine list, set menu'
 'lunch, large trees, fantastic value, courses, euros'
 'chicken curry, mont saint michel, kevin, beer, accueil'
 'cheese board, boeuf, new owners, town square, wine list'
 'st jean, between courses, a la carte menu, superb service, reasonable choice'
 'st jean, excellent food, look no further, pascal, france']
This column contains list-like structures (comma-separated values).
Missing Values: 984199 (90.84%)
--------------------------------------------------

In [6]:
# handle missing data in the dataset
# Handle location-related columns
df['province'] = df['province'].fillna("Unknown")
df['city'] = df['city'].fillna("Unknown")
df['address'] = df['address'].fillna("Unknown")
print(df['province'].isnull().any())
print(df['city'].isnull().any())
print(df['address'].isnull().any())
# Drop rows with missing latitude or longitude
df = df.dropna(subset=['latitude', 'longitude'])

False
False
False

In [7]:
# Handle attributes/features
df['awards'] = df['awards'].fillna("None")
df['popularity_detailed'] = df['popularity_detailed'].fillna("None")
df['popularity_generic'] = df['popularity_generic'].fillna("None")
df['top_tags'] = df['top_tags'].fillna("None")
df['price_level'] = df['price_level'].fillna("Unknown")
df['price_range'] = df['price_range'].fillna("Unknown")

print(df['awards'].isnull().any())
print(df['popularity_detailed'].isnull().any())
print(df['popularity_generic'].isnull().any())
print(df['top_tags'].isnull().any())
print(df['price_level'].isnull().any())
print(df['price_range'].isnull().any())


# print(df['features'].dtype)

# Convert list-like columns to actual lists
list_columns = ['meals', 'cuisines', 'special_diets', 'features']
for col in list_columns:
    df[col] = df[col].apply(
        lambda x: 
            [] if isinstance(x, float) and np.isnan(x) else  # Handle NaN/missing values
            (x.split(", ") if isinstance(x, str) else  # Handle strings
             list(x) if isinstance(x, (list, np.ndarray)) else  # Handle lists or arrays
             [])
    )

False
False
False
False
False
False

In [8]:
# Handle numeric ratings/reviews
numeric_columns = [
    'avg_rating', 'total_reviews_count', 'reviews_count_in_default_language',
    'excellent', 'very_good', 'average', 'poor', 'terrible',
    'food', 'service', 'value', 'atmosphere'
]
for col in numeric_columns:
    df[col] = df[col].fillna(0)

# Handle categorical columns
df['default_language'] = df['default_language'].fillna("Unknown")

In [9]:
import json

# Function to parse JSON-like strings
def parse_open_hours(value):
    try:
        return json.loads(value) if isinstance(value, str) else {}
    except json.JSONDecodeError:
        return {}

# Apply the function to the column
df['original_open_hours'] = df['original_open_hours'].apply(parse_open_hours)

In [10]:
# Handle numeric operational details
numeric_operational_columns = ['open_days_per_week', 'open_hours_per_week', 'working_shifts_per_week']
for col in numeric_operational_columns:
    df[col] = df[col].fillna(0).astype(float)  # Fill missing values with 0 and ensure float type

In [11]:
# Boolean flags
boolean_columns = ['vegetarian_friendly', 'vegan_options', 'gluten_free']
for col in boolean_columns:
    df[col] = df[col].fillna(False)

In [12]:
# Convert valid strings to lists, handle arrays, and fill missing values with empty lists
df['keywords'] = df['keywords'].apply(
    lambda x: 
        [] if isinstance(x, float) and np.isnan(x) else  # Handle NaN/missing values
        (x.split(", ") if isinstance(x, str) else  # Handle strings
         list(x) if isinstance(x, (list, np.ndarray)) else  # Handle lists or arrays
         [])
)

In [13]:
# Fill missing value with "Unknown"
df['restaurant_name'] = df['restaurant_name'].fillna("Unknown")

# Fill missing values with "Unknown"
df['region'] = df['region'].fillna("Unknown")

# Fill missing values with "Unclaimed"
df['claimed'] = df['claimed'].fillna("Unclaimed")

In [14]:
# Verify the preprocessing
print("Are there any missing values after preprocessing?", df.isnull().any().any())
# print(df.head())

# Check for columns with missing values
missing_columns = []

for col in df.columns:
    if df[col].isnull().any():  # Check if any missing values exist in the column
        missing_count = df[col].isnull().sum()  # Count the number of missing values
        missing_percentage = (missing_count / len(df)) * 100  # Calculate percentage
        missing_columns.append((col, missing_count, missing_percentage))

# Print the columns with missing values
if missing_columns:
    print("Columns with missing values:")
    for col, count, percentage in missing_columns:
        print(f"Column: {col}, Missing Values: {count} ({percentage:.2f}%)")
else:
    print("No missing values found in any column.")

Are there any missing values after preprocessing? False
No missing values found in any column.

In [15]:
# print("\nRandom sample of 5 rows from the cleaned dataset:")
# print(df.sample(5))

In [16]:
# # Save the cleaned dataset to a CSV file
output_file_path = "/kaggle/working/cleaned_restaurants_data.csv"
os.makedirs(os.path.dirname(output_file_path), exist_ok=True)
# Save the cleaned dataset to a CSV file
df.to_csv(output_file_path, index=False)


print(f"Cleaned dataset saved to: {output_file_path}")

Cleaned dataset saved to: /kaggle/working/cleaned_restaurants_data.csv